:root {
--white: #fff;
--primary:#F59E0B;
}

body{
  font-family: 'Outfit', sans-serif;
  background-image: url("/bg_clima.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white);
  font-size: 2rem;
}